<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aceffd">  <td>23/01/28 00:34:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo_Nopcommerc.Categories()[pri:1, instance:Asignment.Demo_Nopcommerc@2c35e847]">Categories</td> 
  <td>main@1991371192</td>   <td></td> </tr>
<tr bgcolor="aceffd">  <td>23/01/28 00:34:52</td>   <td>3913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo_Nopcommerc.products()[pri:2, instance:Asignment.Demo_Nopcommerc@2c35e847]">products</td> 
  <td>main@1991371192</td>   <td></td> </tr>
<tr bgcolor="aceffd">  <td>23/01/28 00:34:38</td>   <td>-9758</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Demo_Nopcommerc.launchurl()[pri:0, instance:Asignment.Demo_Nopcommerc@2c35e847]">&gt;&gt;launchurl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1991371192</td>   <td></td> </tr>
<tr bgcolor="aceffd">  <td>23/01/28 00:34:41</td>   <td>-6802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo_Nopcommerc.Login()[pri:0, instance:Asignment.Demo_Nopcommerc@2c35e847]">Login</td> 
  <td>main@1991371192</td>   <td></td> </tr>
<tr bgcolor="aceffd">  <td>23/01/28 00:34:53</td>   <td>5255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo_Nopcommerc.Manufacturers()[pri:3, instance:Asignment.Demo_Nopcommerc@2c35e847]">Manufacturers</td> 
  <td>main@1991371192</td>   <td></td> </tr>
<tr bgcolor="aceffd">  <td>23/01/28 00:34:56</td>   <td>7743</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Demo_Nopcommerc.closeBrowser()[pri:0, instance:Asignment.Demo_Nopcommerc@2c35e847]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1991371192</td>   <td></td> </tr>
</table>
